
# IDE Files
/.idea
/plugin/ChallengesPlugin.iml
/language/Language.iml
/mongo-connector/MongoConnector.iml

# Test Sources
/plugin/src/test
/language/src/test
/mongo-connector/src/test

# Compiled files
/plugin/out
/plugin/target
*.class
*.jar

# Config files
config.properties
.floo
.flooignore
*.iml
