
# IDE Files
/.idea
/plugin/ChallengesPlugin.iml
/language/Language.iml

# Test Sources
/plugin/src/test
/language/src/test

# Compiled files
/plugin/out
/plugin/target
*.class
*.jar

# Config files
config.properties
.floo
.flooignore
