<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>github</id>
			<username>anweisen</username>
			<!-- Public token with "read:packages" scope -->
			<password>ed3037917cf3cef7623e728331327c8b07ed5ed1</password>
		</server>
	</servers>

</settings>